<form [formGroup]="form">
  <mat-selection-list formControlName="accountsList" [multiple]="false">
    @for (bankAccount of bankAccounts; track bankAccount.Id) {
    <mat-list-option [value]="bankAccount">{{bankAccount.IBAN}}</mat-list-option>
    }
  </mat-selection-list>
  <p>
    Option selected: {{form.get('accountsList')?.value?.name || 'None'}}
  </p>
</form>

<mat-list role="list">
  @for (bankAccount of bankAccounts; track bankAccount.Id)
  {
  <mat-list-item role="listitem">{{bankAccount.IBAN}}</mat-list-item>
  }
</mat-list>