<h2>Movimenti</h2>
<div class=" transaction-grid">
  @for (transaction of currentTransactions()?.transactions; track transaction.id) {
  <div>
    <p>{{ transaction.transactionCreation | date:'short' }}</p>
    <p><i>Importo: </i>{{ transaction.amount | currency:'EUR':'symbol':'1.2-2' }}</p>
    <p><i>Causale: </i>{{ transaction.description }}</p>
    <p><i>IBAN mittente: </i>{{ transaction.senderIban }}</p>
    <p><i>IBAN destinatario: </i>{{ transaction.receiverIban }}</p>
    <hr>
  </div>
  } @empty {
  <div class="empty-state">Nessuna transazione trovata</div>
  }
  <br>
</div>