<div class="popup-overlay" (click)="onOverlayClick($event)">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <h2>Inserire informazioni</h2>
        <!--Scegliere tuo IBAN-->
        <div class="input-group">

            <label for="popup-input">Scegli il tuo Iban:</label>
            <mat-form-field>
                <mat-label>Scegli il tuo IBAN</mat-label>
                <mat-select [(ngModel)]="selectedSenderIban">
                    @for (bankAccount of currentUser()?.bankAccounts; track bankAccount.id) {
                        <mat-option [value]="bankAccount">{{ bankAccount.iban }}</mat-option>
                    } @empty {
                    <div class="empty-state">Nessun IBAN trovato</div>
                    }
                </mat-select>
            </mat-form-field>

            <!--Inserire IBAN del destinatario-->
           <p>
                <label for="popup-input">Inserisci IBAN del destinatario:</label>
                <input id="popup-input" type="text" [(ngModel)]="receiverIban" class="popup-input"
                    placeholder="IBAN del destinatario" (keydown.enter)="onConfirm()" (keydown.escape)="onCancel()" />
            </p>

            <!--Importo-->
            <label for="popup-input">Inserisci l'importo da versare:</label>
            <mat-form-field floatLabel="always">
                <mat-label>Importo</mat-label>
                <input matInput type="number" [(ngModel)]="amount" class="amount-right-align" placeholder="0" />
                <span matTextSuffix>€&nbsp;</span>
            </mat-form-field>
<!--Causale-->
            
                <label for="popup-input">Causale:</label>
                <input id="popup-input" type="text" [(ngModel)]="currentValue" class="popup-input"
                    placeholder="Causale" (keydown.enter)="onConfirm()" (keydown.escape)="onCancel()" />
         

        </div>

        <div class="button-group">
            <button type="button" (click)="onCancel()" class="btn btn-secondary">
                Annulla
            </button>

            <button type="button" (click)="onConfirm()" class="btn btn-primary">
                Manda bonifico
            </button>
        </div>
    </div>
</div>