<div class="register-container">
  <div class="register-form-wrapper">
    <h2>Crea account</h2>

    <!-- Success Message -->
    @if(success) {
    <div class="alert alert-success">
      Registrazione completata con successo! Reindirizzamento alla pagina di accesso...
    </div>
    }

    @if(error){
    <!-- Error Message -->
    <div class="alert alert-error">
      {{ error }}
    </div>
    }

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Name Field -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control field-input"
          [class.is-invalid]="submitted && f['username'].errors" placeholder="Inserisci il tuo username">

        @if (submitted && f['username'].errors) {
        <div class="invalid-feedback">
          @if (f['username'].errors['required']) {
          <div>È necessario inserire l'username</div>
          }
          @if (f['username'].errors['minlength']) {
          <div>L'username deve avere un minimo di 3 caratteri</div>
          }
          @if (f['username'].errors['maxLength']) {
          <div>L'username deve avere un massimo di 50 caratteri</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="firstname">Nome</label>
        <input type="text" id="firstname" formControlName="firstname" class="form-control field-input"
          [class.is-invalid]="submitted && f['firstname'].errors" placeholder="Inserisci il tuo nome">

        @if (submitted && f['firstname'].errors) {
        <div class="invalid-feedback">
          @if (f['firstname'].errors['required']) {
          <div>È necessario inserire il tuo nome</div>
          }
          @if (f['firstname'].errors['maxLength']) {
          <div>Il nome deve avere un massimo di 50 caratteri</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="lastname">Cognome</label>
        <input type="text" id="lastname" formControlName="lastname" class="form-control field-input"
          [class.is-invalid]="submitted && f['lastname'].errors" placeholder="Inserisci il tuo cognome">

        @if (submitted && f['lastname'].errors) {
        <div class="invalid-feedback">
          @if (f['lastname'].errors['required']) {
          <div>È necessario inserire il tuo cognome</div>
          }
          @if (f['lastname'].errors['maxLength']) {
          <div>Il cognome deve avere un massimo di 50 caratteri</div>
          }
        </div>
        }
      </div>

      <!-- Email Field -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control field-input"
          [class.is-invalid]="submitted && f['email'].errors" placeholder="Inserisca la sua mail">

        @if (submitted && f['email'].errors) {
        <div class="invalid-feedback">
          @if (f['email'].errors['required']) {
          <div>È necessario inserire una mail</div>
          }
          @if (f['email'].errors['email']) {
          <div>Immettere un indirizzo e-mail valido</div>
          }
        </div>
        }
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-input-container">
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
            class="form-control password-input" [class.is-invalid]="submitted && f['password'].errors"
            placeholder="Inserisca la sua password" autocomplete="current-password">
          <button type="button" class="password-toggle" (click)="togglePasswordVisibility()" tabindex="-1">
            @if(!showPassword){
            <fa-icon [icon]="faEye" />
            }
            @if(showPassword){
            <fa-icon [icon]="faEyeSlash" />
            }
          </button>
          @if (submitted && f['password'].errors) {
          <div class="invalid-feedback">
            @if (f['password'].errors['required']) {
            <div>È necessario inserire una password</div>
            }
            @if (f['password'].errors['minlength']) {
            <div>La password deve avere un minimo di 6 caratteri</div>
            }
          </div>
          }
        </div>
      </div>

      <!-- Confirm Password Field -->
      <div class="form-group">
        <label for="confirmPassword">Conferma password</label>
        <div class="password-input-container">

          <input [type]="showPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword"
            class="form-control password-input" [class.is-invalid]="submitted && f['confirmPassword'].errors"
            placeholder="Inserisca la sua password" autocomplete="current-password">
          <button type="button" class="password-toggle" (click)="togglePasswordVisibility()" tabindex="-1">
            @if(!showPassword){
            <i class="fa fa-eye"></i>
            }
            @if(showPassword){
            <i class="fa fa-eye-slash"></i>
            }
          </button>
          @if (submitted && f['confirmPassword'].errors) {
          <div class="invalid-feedback">
            @if (f['confirmPassword'].errors['required']) {
            <div>È necessario inserire una password</div>
            }
            @if (f['confirmPassword'].errors['minlength']) {
            <div>La password deve avere un minimo di 6 caratteri</div>
            }
          </div>
          }
        </div>
      </div>


      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="loading || registerForm.invalid">
        @if (loading) {
        <span class="spinner"></span>
        }
        {{ loading ? 'Creazione account in corso...' : 'Registra un nuovo account' }}
      </button>

      <!-- Login Link -->
      <p class="login-link">
        Hai già un account?
        <a routerLink="/login">Effettua il login qui</a>
      </p>
    </form>
  </div>
</div>