<div class="dashboard">
  <header class="dashboard-header">

    @if (currentUser();) {
    <div class="user-dropdown">
      <div class="user-info">
        <h1>Salve {{ this.currentUser()?.firstName }} {{ this.currentUser()?.lastName }}</h1>
      </div>
    </div>
    }
  </header>
  <mat-grid-list cols="2" rowHeight="100px">

    <mat-grid-tile> <button mat-button (click)="openBankAccountPopup() " class="open-popup-btn">Crea nuovo IBAN</button>
      @if (isBankAccountPopupOpen()) {
      <app-create-bank-account [initialValue]="inputValue()" (confirmed)="onBankAccountPopupConfirmed($event)"
        (cancelled)="onBankAccountPopupCancelled()" />
      }</mat-grid-tile>
    <mat-grid-tile> <button mat-button (click)="openTransactionPopup() " class="open-popup-btn">Fai un
        pagamento</button>
      @if (isTransactionPopupOpen()) {
      <app-create-transaction [initialValue]="inputValue()" (confirmed)="onTransactionPopupConfirmed($event)"
        (cancelled)="onTransactionPopupCancelled()" />
      }</mat-grid-tile>
  </mat-grid-list>

  <div class="overview-cards">
    <div class="overview-card">
      <h2>Conti bancari</h2>
      <div class="accounts-grid">
        @for (bankAccount of currentUser()?.bankAccounts; track bankAccount.id) {
        <div class="bank-account-card">
          <h3>{{ bankAccount.iban }}</h3>
          <p class="balance">{{ bankAccount.balance | currency:'EUR':'symbol':'1.2-2' }}</p>
          <p class="creation-date">Creato il: {{ bankAccount.creationDate | date:'short' }}</p>
        </div>
        } @empty {
        <div class="empty-state">Nessun conto bancario trovato</div>
        }
        <br>
      </div>
    </div>
    <div class="overview-card">
      <div class="overview-amount">
        <h3>Totale conti bancari:</h3>
        {{ totalAccounts() }}
        <h3>Somma del valore dei conti bancari:</h3>
        {{ totalBalance() | currency:'EUR':'symbol':'1.2-2' }}
      </div>
    </div>
  </div>

  <div class="dashboard-grid">
    <section class="transactions-section">
      <div class="transactions-container">
        <app-get-transaction></app-get-transaction>
      </div>
    </section>
  </div>

  <br>

</div>