<div class="dashboard">
  <header class="dashboard-header">

    @if (currentUser()) {
    <div class="user-dropdown">
      <div class="user-info">
        <h1>Salve {{ currentUser()?.firstName }} {{ currentUser()?.lastName }}</h1>
      </div>
    </div>
    }
  </header>

  <!-- Action Buttons -->
  <div class="action-buttons">
    <button mat-raised-button (click)="openBankAccountPopup()" class="action-btn">
      Crea nuovo IBAN
    </button>
    <button mat-raised-button (click)="openTransactionPopup()" class="action-btn">
      Fai un pagamento
    </button>
  </div>

  <!-- Popups -->
  @if (isBankAccountPopupOpen()) {
    <app-create-bank-account (confirmed)="onBankAccountPopupConfirmed()"
      (cancelled)="onBankAccountPopupCancelled()" />
  }
  @if (isTransactionPopupOpen()) {
    <app-create-transaction (confirmed)="onTransactionPopupConfirmed()"
      (cancelled)="onTransactionPopupCancelled()" />
  }

  <div class="overview-cards">
    <div class="overview-card bank-accounts-card">
      <app-list-bank-accounts></app-list-bank-accounts>
    </div>
  </div>

  <div class="dashboard-grid">
    <section class="transactions-section">
      <div class="transactions-container">
        <app-get-transaction></app-get-transaction>
      </div>
    </section>
  </div>

  <br>

</div>